/*========================================
indexrecipe.scss
========================================*/
.p-indexrecipe {
&__contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
&__img {
  width: 350px;
  height: 250px;
  margin:20px 30px 50px 40px;
  border-radius: 10%;
  @include mq(){
    width: 300px;
    margin: 20px;
  }
}
&__img:hover {
 box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
 transform: translateY(-3px);
 transition-duration: 0.5s;
  }
 }
